.venv
__pycache__
*.pyc

.pytest_cache
.mypy_cache
.ruff_cache

.coverage
coverage.xml
htmlcov

.env
.env.*
!.env.example

cookies*.txt

*.db
*.sqlite
*.sqlite3

tests
playwright-report
test-results

.git
.gitignore

*.log
*.zip
